body {
    background-image: url('../images/background.png');
    color: orange;
    font-family: 'Ceviche One', cursive;
    font-size: 24px;
}

.character-selectable {
    background-color: white;
    border: solid 2px rgb(125, 125, 240);
    color: black;
}

.enemy {
    background-color: red;
}

.enemy-selected {
    background-color: black;
    color: green;
}